#app {
  max-width: 100%;
  height: 720px;
  background: linear-gradient(to right, #586ba4, #324376, #f76c5e);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;

  @keyframes animate-background {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
    // border: 2px solid orange;

    #buttonContain {
      // border: 2px solid white;
      margin-top: 5px;
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      #login {
        border: none;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        color: white;
        width: 230px;
        padding: 3.5px 4px 3.5px 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
      }

      #signup {
        border: none;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        color: white;
        width: 230px;
        padding: 3.5px 4px 3.5px 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
      }
    }

    #inputContain {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      width: 500px;
      margin: 0 auto;

      #getCityLocation {
        margin-top: 10px;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }

      #getZipLocation {
        margin-top: 10px;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    #getWeatherBtn {
      margin-top: 10px;
      border: none;
      padding: 10px 10px 10px 10px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      border-radius: 8px;
      color: white;
    }
  }

  #currentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;

    #infoContainer {
      #locationInfo {
        border-bottom: 1px solid white;
        font-size: 60px;
        // border: 2px solid black;
        margin-bottom: 10px;

        #name {
          color: white;
        }

        #country {
          font-size: 38px;
          color: white;
        }

        #time {
          margin: 10px 0px 10px 0px;
          font-size: 15px;
          color: white;
        }
      }

      #conditionInfo {
        display: flex;
        align-items: center;
        justify-content: center;

        // border: 2px solid red;

        #conditionImage {
        }

        #conditionText {
          margin-left: 10px;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
        }
      }

      #tempInfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 575px;
        margin: 10px auto 10px auto;
        text-align: left;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        // border: 2px solid purple;
        #tempF {
        }

        #realFeel {
        }

        #wind {
        }
      }

      #extraInfo {
        width: 725px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        text-align: left;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        // border: 2px solid orange;

        #precip {
        }

        #uv {
        }

        #pressure {
        }

        #visMiles {
        }
        margin-bottom: 40px;
      }
    }

    #forecastHeader {
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(201, 201, 201);
    }

    #fcContain {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      #forecastContainer {
        min-width: 250px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 8px;

        font-family: Arial, Helvetica, sans-serif;
        color: rgb(201, 201, 201);
        padding: 10px;

        #forecastDate {
          font-size: 21px;
        }

        #fcConditionContain {
          display: flex;
          align-items: center;
          justify-content: center;

          #forecastConditionImg {
          }

          #forecastCondition {
            margin-left: 5px;
          }
        }

        #forecastLow {
          text-align: left;
        }

        #forecastHigh {
          text-align: left;
        }

        #rainChance {
          text-align: left;
        }
      }
    }
  }
}
